/wp-content/upgrade
/wp-content/uploads
/wp-content/*
!wp-content/mu-plugins/
!wp-content/plugins/
!wp-content/themes/
/wp-config.php
/wp-content/plugins/hello.php
/wp-content/themes/twenty*/

/node_modules/

/sitemap.*

/*.log
/*.sql
/*.sqlite
/*.DSStore *Thumbs.db _.sass-cache ~imageoptim
/.gitignore
